
  .my{
    min-height: 300px;
    margin-bottom: 10px;
    background-color: #325476;
  }
  .ui.image{
    max-width: 100%;
  }

  #my{
      min-height: 300px;
      margin-bottom: 10px;
      background-color: #325476;
  }
  body{
    background: #000;
  }
  .my{
    height: 100vh;
    margin-bottom: 10px;
    background-color: #325476;
  }
  .ui.image{
    max-width: 100%;
  }

  #my{
      min-height: 300px;
      margin-bottom: 10px;
      background-color: #325476;
  }
  .ui.sidebar.small.inverted.vertical.menu.left{
    padding-top:42px;
  }
  .ui.inverted.menu {
    opacity :none;
    background: #fc4a1a;
    border:none;
  }
   .item.b{
    opacity:none;
  }

a.toc.item{
  	display: none !important;
  }

@media(max-width: 600px){
	a.toc.item{
		display: block !important;
	}
	.right.menu a.item{
		display: none !important;
	}
}