 body.pushable>.pusher {
    background: #d5d5d5;
}
  .my{ 	
    height: 100vh;
    background-color: #325476;
    margin-bottom: 10px;
  }
  .ui.secondary.inverted.pointing.menu{
	padding:10px;
  }
  .ui.sidebar{
    padding-top:0px;
  }
  .ui.image{
    max-width: 100%;
  }
  .ui.menu {
    opacity :none;
    background: #373737;
    border:none;   
   }
   .item.b{
    opacity:0.95;
   }
	.pusher{
	margin-top: 61px;
	}
	.toc.item{
		margin-top:10px !important;
	}
a.toc.item{
  	display: none !important;
  }

@media(max-width: 600px){
	a.toc.item{
		display: block !important;
	}
	.right.menu a.item{
		display: none !important;
	}
}